* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color: #f9f9f9;
}
body {
  height: 100vh;
  display: grid;
  grid-template-columns: 35% 65%;
  background: linear-gradient(
      50deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(Assets/bg1.jpg), lightgray 50% / cover no-repeat;
}

.left {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  padding: 2em 0;

  background: rgba(0, 0, 0, 0.69);
}

.logo {
  width: 75px;
}

.spaceship-img {
  width: 460px;
}

.logo-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.submit-div button {
  font-size: 18px;
  padding: 6px 14px;
  border: 1px solid #d9d9d9;
  background: #ba0000;
  color: #f6f6f6;
  font-weight: 600;
  letter-spacing: 0.72px;
  margin-top: 5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
  width: 75%;
  gap: 4em;
}

.form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

header {
  margin-bottom: 8px;
}

input {
  width: 95%;
  height: 35px;
  color: black;
  background: rgba(246, 246, 246, 0.47);
  border: 0px;
  letter-spacing: 1.28px;
  font-family: "Bebas neue";
  font-weight: 400;
  padding-left: 0.5rem;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: calc(2rem + 1.2vw);
}

.field {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.submit-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2em;
}

/* Typography */
* {
  font-family: "Bebas neue";
}

h2,
.footer-links,
button,
.disclaimer {
  font-family: "Teko";
}

header {
  font-size: calc(2rem + 0.2vw);
  font-weight: 400;
  letter-spacing: 0.36px;
}
.subheader-text {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  font-size: calc(1rem + 0.1vw);
}

.disclaimer {
  font-weight: 300;
}
.footer-links {
  text-align: center;
}

button:hover {
  cursor: pointer;
  border: 1px solid black;
}

/* To remove the spinner */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
